html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/*========================
      Globals
========================*/

html{ width: 100%;height: 100%;}
img{ max-width: 100%;}
body{
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  background-color: rgba(222,222,222,0.1);
  color: rgba(0,0,0,0.2);
  font-family: 'Raleway', sans-serif;
}
a{
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: rgb(0,0,0);
}
a:link{color: rgb(0,0,0); text-decoration: none;}
a:visited{color: rgb(0,0,0); text-decoration: none;}
a:hover{color: rgb(0,0,0); text-decoration: none;}
a:active{color: rgb(0,0,0); text-decoration: none;}

/*========================
      Phone Portrait
========================*/

@media only screen and (min-width: 0em) and (max-width: 24em){

/*                  HEADER
===============================================*/
  section#landingZone{
    background-image: url('background_phone_portrait.png');
    background-size: cover;
  }
  section#landingZone header h1 {
    width: 95%;
    margin: 0% 0% 4% 3%;
    padding: 3% 0% 0% 0%;
  }
  section#landingZone main{
    margin: 33% 0% 42% 0%;
  }
  section#landingZone main section article img{
    display: none;
  }
  section#landingZone main section article blockquote{
    display:none;
  }
  section#landingZone main section article a{
    background-color: rgba(255,255,255,0.3);
    margin: 0% auto 0% auto;
    text-align: center;
    width: 60%;
    display: block;
    border-style: solid;
    border-color: #F0DB00;
    border-radius: 3px;
    border-width: 4px;
    padding: 1em 3em 1em 3em;
  }
  section#landingZone{
    margin-bottom: 0px;
  }
  section#landingZone footer{
    padding-bottom: 18%;
  }
  section footer nav{
    background-color: rgba(255,255,255,0.3);
    margin: 0% auto 0% auto;
    padding:0% 0% 0% 0%;
    font-size: 3em;
    font-weight: bold;
    display: block;
    width:1.4em;
    height:1.4em;
    border-style: solid;
    border-color: #F0DB00;
    border-radius: 49%;
    border-width: 4px;
    text-align: center;
  }
  section#howtoZone main {
    margin: 0% 3% 0% 3%;
  }

  section#howtoZone main h2 {
    color: black;
    text-align: left;
    margin: 4% 0% 3% 0%;
    padding: 0;
  }

  section#howtoZone main p {
    line-height: 1.4em;
    margin: 4% 0% 7% 0%;  
  }


/*                    CAROUSEL
================================================*/
  .carousel {
    background-color: blue;
  }

  .carousel-indicators {
    bottom: 3px
  }

  h2 {
  font-family: helvetica;
  font-size: 22px;
  margin-top: 11px;
  padding-bottom: 22px;
  text-align: center;
  color:white;
}

/*                        POST IT OBJECT
  ===================================================================*/

  textarea#text-postit{
    font-family: helvetica;
    font-size: 15px;
    border: none;
    resize: none;
    background-color: #ffff88;
    height: 165px;
    width: 95%;
  }


  /*               POINTER CONTROL
===============================================*/
  kbd{
    display: block;
    text-align: center;
    font-size: 3em;
    width:100%;
    line-height:1.5em;
    background-color: hotpink;
    color: rgb(255,255,255);
    font-family: 'Rubik One', sans-serif;
  }


}

/*========================
      Phone Landscape
========================*/
@media only screen and (min-width: 24em) and (max-width: 44em){

  section#landingZone{
    background-image: url('background_phone_landscape.png');
    background-size: cover;
  }
  section#landingZone header h1 {
    width: 39%;
    margin: 0% 0% 4% 3%;
    padding: 3% 0% 0% 0%;
  }
  section#landingZone main{
    margin: 10% 0% 9% 0%;
  }
  section#landingZone main section article img{
    display: none;
  }
  section#landingZone main section article blockquote{
    display:none;
  }
  section#landingZone main section article a{
    background-color: rgba(255,255,255,0.3);
    margin: 0% auto 0% auto;
    text-align: center;
    width: 60%;
    display: block;
    border-style: solid;
    border-color: #F0DB00;
    border-radius: 3px;
    border-width: 4px;
    padding: 1em 3em 1em 3em;
  }
  section#landingZone{
    margin-bottom: 0px;
  }
  section#landingZone footer{
    padding-bottom: 18%;
  }
  section footer nav{
    background-color: rgba(255,255,255,0.3);
    margin: 0% auto 0% auto;
    padding:0% 0% 0% 0%;
    font-size: 3em;
    font-weight: bold;
    display: block;
    width:1.4em;
    height:1.4em;
    border-style: solid;
    border-color: #F0DB00;
    border-radius: 49%;
    border-width: 4px;
    text-align: center;
  }
  section#howtoZone main {
    margin: 0% 3% 0% 3%;
  }

  section#howtoZone main h2 {
    color: black;
    text-align: left;
    margin: 4% 0% 3% 0%;
    padding: 0;
  }

  section#howtoZone main p {
    line-height: 1.4em;
    margin: 4% 0% 7% 0%;  
  }
}

/*========================
      Desktop
========================*/

@media only screen and (min-width: 45em){  /* DESKTOPS */

  section#landingZone{
    background-image: url('background_desktop.png');
    background-size: cover;
  }
  section#landingZone header h1 {
    width: 30%;
    margin: 0% 0% 0% 1%;
    padding: 1% 0% 0% 0%;
  }
  section#landingZone main{
    width:80%;
    margin: 0% auto 0% auto;
  }
  section#landingZone main section article{
    display: inline-block;
    vertical-align: top;
    width: 49%;
  }
  section#landingZone main section article img{
    width:66%;
  }
  section#landingZone main section article blockquote{
    font-size: 284%;
    width: 154%;
    margin: 21% 0% 0% -43%;
    line-height: 1.4em;
    padding: 5% 0% 12% 7%;
    background-color: rgba(255,255,255,0.5);
    color: black;
  }

  section#landingZone main section article blockquote h2{
    font-size: 1.1em;
    color: black;
    margin-bottom: 3%;
  }

  section#landingZone main section article blockquote p{
    font-size: 78%;
    color: rgb(101,101,101);
  }
  section#landingZone main section article:nth-child(3){
    position: relative;
    float: right;
    margin:-17% 0% 0% 0%;
  }
  section#landingZone main section article a{
    background-color: rgb(206,206,206);
    font-size: 151%;
    margin: 0% auto 0% auto;
    padding: 0.7em 3em 0.7em 3em;
    text-align: center;
    width: 60%;
    display: inline-block;
    border-style: solid;
    border-color: #F0DB00;
    border-radius: 3px;
    border-width: 4px;
  }
  section#landingZone{
    margin-bottom: 0px;
  }
  section#landingZone footer{
    padding-bottom: 18%;
  }
  section footer nav{
    background-color: rgba(255,255,255,0.3);
    margin: 0% auto 0% auto;
    padding:0% 0% 0% 0%;
    font-size: 3em;
    font-weight: bold;
    display: block;
    width:1.4em;
    height:1.4em;
    border-style: solid;
    border-color: #F0DB00;
    border-radius: 49%;
    border-width: 4px;
    text-align: center;
  }
  section#howtoZone main {
    margin: 0% 3% 0% 3%;
  }

  section#howtoZone main h2 {
    width:30%;
    font-size:2.3em;
    display: inline-block;
    color: black;
    text-align: right;
    margin: 4% 0% 2% 0%;
    padding: 0;
  }

  section#howtoZone main p {
    font-size: 1.5em;
    width: 60%;
    padding: 0% 0% 0% 0%;
    margin: 0% 0% 0% 3%; 
    line-height: 1.4em;
    display: inline-block; 
  }


}
