html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/*========================
      Globals
========================*/

html{ width: 100%;height: 100%;}
img{ max-width: 100%;}
body{
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  color: rgba(0,0,0,0.2);
  font-family: 'Raleway', sans-serif;
}
a{
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: rgb(0,0,0);
}
a:link{color: rgb(0,0,0); text-decoration: none;}
a:visited{color: rgb(0,0,0); text-decoration: none;}
a:hover{color: rgb(0,0,0); text-decoration: none;}
a:active{color: rgb(0,0,0); text-decoration: none;}

/*========================
      Phone Portrait
========================*/

@media only screen and (min-width: 0em) and (max-width: 24em){

/* ================= LANDING ZONE =====================*/
  section#landingZone{
    background-image: url('background_phone_portrait.png');
    background-size: cover;
  }
  section#landingZone header h1 {
    width: 95%;
    margin: 0% 0% 4% 3%;
    padding: 3% 0% 0% 0%;
  }
  section#landingZone main{
    margin: 33% 0% 42% 0%;
  }
  section#landingZone main section article img{
    display: none;
  }
  section#landingZone main section article blockquote{
    display:none;
  }
  section#landingZone main section article a{
    background-color: rgba(255,255,255,0.3);
    margin: 0% auto 0% auto;
    text-align: center;
    width: 60%;
    display: block;
    border-style: solid;
    border-color: #F0DB00;
    border-radius: 10px 10px 10px 10px;
    border-width: 4px;
    padding: 1em 3em 1em 3em;
  }
  section#landingZone{
    margin-bottom: 0px;
  }
  section#landingZone footer{
    padding-bottom: 18%;
  }
  section footer nav{
    background-color: salmon;
    background-color: rgba(255,255,255,0.3);
    margin: 0% auto 0% auto;
    padding:0% 0% 0% 0%;
    font-size: 3em;
    font-weight: bold;
    display: block;
    width:1.4em;
    height:1.4em;
    border-style: solid;
    border-color: #F0DB00;
    border-radius: 49%;
    border-width: 4px;
    text-align: center;
  }
/* ================= HOWTO ZONE =====================*/
  section#howtoZone main {
    margin: 0% 3% 0% 3%;
  }

  section#howtoZone main h2 {
    color: black;
    text-align: left;
    margin: 4% 0% 3% 0%;
    padding: 0;
  }

  section#howtoZone main p {
    line-height: 1.4em;
    margin: 4% 0% 7% 0%;
  }

/*                        POST IT OBJECT
  ===================================================================*/

  section#submit-postit article{
    margin: 2% 7% 0% 3%;
  }
  section#submit-postit article textarea{
    display: block;
    background-image: url('postit.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 13.5em;
    width: 100%;
    margin: 0% 0% 0% 0%;
    outline: none;
    resize: none;
    overflow: hidden;
    border-style: none;
    text-align: left;
    padding: 20% 7% 11% 13%;
    color: black;
    font-size: 1.3em;
    line-height: 1.1em;
  }
  ::-webkit-input-placeholder {color: #C0AF00;}
  :-moz-placeholder {color: #C0AF00;}
  ::-moz-placeholder {color: #C0AF00;}
  :-ms-input-placeholder {color: #C0AF00;}


/*                    CAROUSEL
================================================*/
  div.carousel-inner {
    margin: 0% auto 0% auto;
  }

  div.item {
    text-align: center;
    font-size: 2em;
    color: rgb(144,144,144);
    width: 100%;
    margin: 0% auto 6% auto;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(144,144,144) rgb(255,255,255);
    padding: 5% 0% 5% 0%;
  }

  ol.carousel-indicators{
    position: absolute;
    bottom: -.74em;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
  }

  ol.carousel-indicators li{
    border-color: rgb(144,144,144);
  }

  ol.carousel-indicators li.active{
    background-color: rgb(240,219,0);
    border-color: rgb(240,219,0);
  }

  /*               POINTER CONTROL
===============================================*/


kbd {
      background-color: white;
      background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
      content: url('arrowsbutton.png');
      z-index: 99;
      border-radius: 50%;
      box-shadow: 0px 2px 9px 2px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
      height: 3.5em;
      display: block;
      margin: 10% auto 0% auto;
      width: 3.5em;      
      -webkit-transition: all .1s linear;
      transition: all .1s linear;
      display: block;

    }
}

/*========================
      Phone Landscape
========================*/
@media only screen and (min-width: 24em) and (max-width: 44em){

  section#landingZone{
    background-image: url('background_phone_landscape.png');
    background-size: cover;
  }
  section#landingZone header h1 {
    width: 39%;
    margin: 0% 0% 4% 3%;
    padding: 3% 0% 0% 0%;
  }
  section#landingZone main{
    margin: 10% 0% 9% 0%;
  }
  section#landingZone main section article img{
    display: none;
  }
  section#landingZone main section article blockquote{
    display:none;
  }
  section#landingZone main section article a{
    /*background-color: rgba(255,255,255,0.3);*/
    background-color: salmon;
    margin: 0% auto 0% auto;
    text-align: center;
    width: 60%;
    display: block;
    border-style: solid;
    border-color: #F0DB00;
    border-radius: 3px;
    border-width: 4px;
    padding: 1em 3em 1em 3em;
  }
  section#landingZone{
    margin-bottom: 0px;
  }
  section#landingZone footer{
    padding-bottom: 18%;
  }
  section footer nav{
    background-color: rgba(255,255,255,0.3);
    margin: 0% auto 0% auto;
    padding:0% 0% 0% 0%;
    font-size: 3em;
    font-weight: bold;
    display: block;
    width:1.4em;
    height:1.4em;
    border-style: solid;
    border-color: #F0DB00;
    border-radius: 49%;
    border-width: 4px;
    text-align: center;
  }
  section#howtoZone main {
    margin: 0% 3% 0% 3%;
  }

  section#howtoZone main h2 {
    color: black;
    text-align: left;
    margin: 4% 0% 3% 0%;
    padding: 0;
  }

  section#howtoZone main p {
    line-height: 1.4em;
    margin: 4% 0% 7% 0%;
  }

/*                        POST IT OBJECT
  ===================================================================*/
  nav#icon{
    position: fixed;
    left: 5px;
    top: 5px;
    width:12%;
  }
  nav#icon img{
    box-shadow: -1px 2px 4px rgb(144,144,144);
  }

  section#submit-postit article{
    margin-top: 0em;
  }
  section#submit-postit article textarea{
    display: block;
    background-image: url('postit.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 13em;
    width: 100%;
    margin: 0% 0% 0% -2%;
    outline: none;
    resize: none;
    border-style: none;
    text-align: left;
    padding: 14% 35% 7% 6%;
    color: black;
    font-size: 1em;
    line-height: 1em;
    overflow: hidden;
  }

/*                    CAROUSEL
================================================*/
  div.carousel-inner {
    margin: 0% auto 0% auto;
  }
  div.item {
    text-align: center;
    font-size: 1em;
    color: rgb(144,144,144);
    width: 100%;
    margin: 2% auto 0% auto;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(144,144,144) rgb(255,255,255);
    padding: 1% 0% 1% 0%;
  }

  ol.carousel-indicators{
    position: absolute;
    bottom: 30px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
  }

  ol.carousel-indicators li{
    border-color: rgb(144,144,144);
  }

  ol.carousel-indicators li.active{
    background-color: rgb(240,219,0);
    border-color: rgb(240,219,0);
  }

  /*               POINTER CONTROL
===============================================*/

kbd{
      background-color: white;
      background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
      background-image: linear-gradient(top, #f4f1ee, #fff);
      content: url('arrowsbutton.png');
      border-radius: 50%;
      box-shadow: 0px 2px 9px 2px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
      height: 3.5em;
      display: block;
      margin: -25% 19% 0% 0%;
      width: 3.5em;      
      -webkit-transition: all .1s linear;
      transition: all .1s linear;
      float:right;
    }


}

/*========================
      Desktop
========================*/

@media only screen and (min-width: 45em){  /* DESKTOPS */

  section#landingZone{
    background-image: url('background_desktop.png');
    background-size: cover;
  }
  section#landingZone header h1 {
    width: 30%;
    margin: 0% 0% 0% 1%;
    padding: 1% 0% 0% 0%;
  }
  section#landingZone main{
    width:80%;
    margin: 0% auto 0% auto;
  }
  section#landingZone main section article{
    display: inline-block;
    vertical-align: top;
    width: 49%;
  }
  section#landingZone main section article img{
    width:66%;
  }
  section#landingZone main section article blockquote{
    font-size: 284%;
    width: 154%;
    margin: 21% 0% 0% -43%;
    line-height: 1.4em;
    padding: 5% 0% 12% 7%;
    background-color: rgba(255,255,255,0.5);
    color: black;
  }

  section#landingZone main section article blockquote h2{
    font-size: 1.1em;
    color: black;
    margin-bottom: 3%;
  }

  section#landingZone main section article blockquote p{
    font-size: 78%;
    color: rgb(101,101,101);
  }
  section#landingZone main section article:nth-child(3){
    position: relative;
    float: right;
    margin:-17% 0% 0% 0%;
    font-size: 95%;
  }
  section#landingZone main section article a{
    background-color: rgb(206,206,206);
    font-size: 151%;
    margin: 0% auto 0% auto;
    padding: 0.7em 3em 0.7em 3em;
    text-align: center;
    width: 60%;
    display: inline-block;
    border-style: solid;
    border-color: #F0DB00;
    border-radius: 10px 10px 10px 10px;
    border-width: 4px;
  }
  section#landingZone{
    margin-bottom: 0px;
  }
  section#landingZone footer{
    padding-bottom: 18%;
  }
  section footer nav{
    background-color: rgba(255,255,255,0.3);
    margin: 0% auto 0% auto;
    padding:0% 0% 0% 0%;
    font-size: 3em;
    font-weight: bold;
    display: block;
    width:1.4em;
    height:1.4em;
    border-style: solid;
    border-color: #F0DB00;
    border-radius: 49%;
    border-width: 4px;
    text-align: center;
  }
  section#howtoZone main {
    margin: 0% 3% 0% 3%;
  }

  section#howtoZone main h2 {
    width:30%;
    font-size:2.3em;
    display: inline-block;
    color: black;
    text-align: right;
    margin: 4% 0% 2% 0%;
    padding: 0;
  }

  section#howtoZone main p {
    font-size: 1.5em;
    width: 60%;
    padding: 0% 0% 0% 0%;
    margin: 0% 0% 0% 3%;
    line-height: 1.4em;
    display: inline-block;
  }

  nav#pointer{
    position: absolute;
    width:2.2em;
    height:2.2em;
    box-shadow: -2px 3px 4px rgba(144,144,144,1);
    background-color: hotpink;
    border-radius: 49%;
  }

  /*===================BOARD========================*/
  body {
    background-color: #282828;
  }

  section#boardHeader{
    height: 2.5em;
  }
  section#boardHeader img {
    width: 15%;
    margin: 0.5% 0% 0% 0.5%;
  }

  section#boardHeader nav {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5% 0.5% 0% 0%;
    width: 8%;
    text-align: center;
    padding: 0.4% 0% 0.4% 0%;
    background-color: #F5F5F5;
    border-radius: 10px 10px 10px 10px;
    border: solid 3px;
    border-color: #F0DB00;
  }

  section#boardHeader nav:hover {
    cursor: pointer;
  }

  section#boardHeader nav a {
    width: 100%;
  }

  main#boardZones {
    margin: 0% -2% 0% 1%;
    padding: 2% 0% 0% 0%;
  }

  main#boardZones fieldset {
    float:left;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    vertical-align: top;
    margin: 0% 0.5% 0% 0%;
    padding: 0% 1% 0% 1%;
  }

  main#boardZones legend {
    margin: 0% 0% 4% 0%;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    border: solid 2px;
    border-color: #282828;
    width: 90%;
    text-align: center;
    font-size: 1.5em;
    color: #636363;
    padding: 1% 0% 1% 0%;
  }

  main#boardZones fieldset li {
    list-style-type: none;
/*    display: inline-block;*/
    vertical-align: top;
    padding: 30px 6px 22px 17px;
    background-image: url('postit.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 130px;
    width: 130px;
    color: black;
    font-size: 1em;
    word-wrap: break-word;
    line-height: 1.35em;
  }

 /* .img-zoom {
    width: 310px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}

  .transition {
    -webkit-transform: scale(2); 
    -moz-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
  }*/


}
