<template name='home'>
  <section id="landingZone" style="height:{{height}}px">{{>landingZone}}</section>
  <section id="howtoZone">{{>howtoZone}}</section>
</template>

<template name="landingZone">
  <header>{{> header}}</header>
  <main>{{> getstarted}}</main>
  <footer>{{> scrollDown}}</footer>
</template>

<template name="howtoZone">
  <main>
    <h2>Swipe Up</h2>
    <p>To add notes to the board type your message then swipe up - Hey presto!</p>
    <h2>Swipe Left</h2>
    <p>To select your destination column swipe left or right</p>
    <h2>First Tap</h2>
    <p>Tap the nav button once to activate a pointer on the board</p>
    <h2>Move</h2>
    <p>Move and tilt your device to control the pointer</p>
    <h2>Second Tap</h2>
    <p>Select any note with a second tap to control its position</p>
    <h2>Third Tap</h2>
    <p>Tap the nav button to place your note in a new destination</p>
  </main>
  <footer>{{> scrollUp}}</footer>
</template>

<template name="header">
  <h1><a href="/"><img src="flickynotes_logo.png"></a></h1>
</template>

<template name="getstarted">
  <section>
    <article><img src="iphone_vector.png"></article>
    <article><blockquote><h2>Sticky notes without the paper</h2><p>Improve your meetings with this fun and effective way to share your ideas and workflow with a team. Or just use it for fun!</p></blockquote></article>
    <article><a href="{{smartLink}}">Get Started</a></article>
  </section>
</template>

<template name="scrollDown">
  <nav><a href="#"><img src="arrow_down.png"></a></nav>
</template>

<template name="scrollUp">
  <nav><a href="#"><img src="arrow_down.png"></a></nav>
</template>
