<template name="phone">
{{> document_ready}}
  <header><h1>Flicky Notes</h1></header>

  <section id="submit-postit">
    <article id="postit-object">
      <form class="new-postit">
        	<textarea id='text-postit' name="text-postit" placeholder="Type to add a new Postit.."></textarea>
        </form>
      <article id="postit-object-shadow">
      </article>
    </article>
  </section>

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <h2 ID0¨DFTUF86UI6FI76RI76¨>To do</h2>
      </div>
      <div class="item">
        <h2>Doing</h2>
      </div>
      <div class="item">
        <h2>Done</h2>
      </div>
    </div>

  </div>
</template>

<template name="document_ready">
</template>
