<template name="phone">
  {{> submitPostit}}
  {{> zoneSelector}}
  {{> pointercontrol}}
  {{> audio}}
</template>

<template name="submitPostit">
  <section id="submit-postit">
    <article>
      <textarea name="text-postit" placeholder="Type to add a new Postit.."></textarea>
    </article>
  </section> 
</template>

<template name="zoneSelector">
  <div id="carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">{{> indicators}}</ol>
    <div class="carousel-inner" role="listbox">{{> zones}}</div>
  </div>  
</template>

<template name="zones">
  {{#each zonesCollection}}
    <div class="item {{selected}}" >
      <label data-id="{{_id._str}}">{{name}}</label>
    </div>
  {{/each}}
</template>

<template name="indicators">
  {{#each zonesCollection}}
    <li data-target="#carousel-example-generic" data-slide-to="{{order}}" class="{{selected}}"></li>
  {{/each}}
</template>

<template name="pointercontrol">
  <section><kbd id="pointerElement"></kbd></section>
</template>

<template name="audio">
  <audio id="sendSound">
    <source src="sound.ogg">
    <source src="sound.mp3">
  </audio>
</template>