<template name="board">
  <header id="{{board._id._str}}">{{board.title}}</header>
  <main>
    {{#each zones}}
      <fieldset id="{{_id._str}}" style="width:{{board.zoneWidth}}%;height:{{zoneHeight}}px;">
        <legend>{{zone.name}}</legend>
        	<ul>
        		{{#each postits}}
        			<li id="{{_id}}">{{content}}</li>
        		{{/each}}
        	</ul>
      </fieldset>
    {{/each}}
  </main>
  <footer>{{>pointer}}</footer>
</template>

<template name="pointer">
  <nav style="left: {{x}}px; top: {{y}}px; display:{{display}};">{{taps}}</nav>
</template>

