<template name="board">
  <header>{{> boardHeader}}</header>
  <main id="boardZones">{{> boardZones}}</main>
  <footer>{{> pointerElement}}</footer>
</template>

<template name="boardHeader">
  <section id="boardHeader"><a href="/"><img src="flickynotes_logo.png"></a><nav><a id="boardClearButton">Clear</a></nav></section>
</template>

<template name="boardZones">
    {{#each zones}}
      <fieldset id="{{zone._id._str}}" style="width:{{zoneWidth}}%;height:{{zoneHeight}}px;">
        <legend>{{zone.name}}</legend>
          {{#each postits}}
            <li id="{{_id}}" style="transform: rotate({{rotate}}deg);">{{content}}</li>
          {{/each}}
      </fieldset>
    {{/each}}
</template>

<template name="pointerElement">
  {{#with pointerRender}}
    <nav id="pointer" style="left: {{x}}px; top: {{y}}px;"></nav>
  {{/with}}
</template>
